


body {

}

html {
    scroll-behavior: smooth;
}

.nav-choice:hover {
    background: rgb(22,167,209);
    background: linear-gradient(81deg, rgba(22,167,209,0.37298669467787116) 12%, rgba(71,221,211,1) 95%);
}

.bg-nav {
    background: rgb(35,132,226);
    background: linear-gradient(81deg, rgba(35,132,226,1) 12%, rgba(71,221,211,1) 100%);
}

.bg-custom {
    background-color: #d7aa72;
}

.bg-custom-2 {
    background: rgb(25,131,227);
    background: linear-gradient(81deg, rgba(25,131,227,1) 51%, rgba(26,145,233,1) 72%);
}

.bg-card {
    background: rgb(22,167,209);
    background: linear-gradient(81deg, rgba(22,167,209,0.37298669467787116) 12%, rgba(71,221,211,1) 95%);
}

/**Single Forecast Custom CSS -> copied from previous project**/



.card-1 {
    display: grid;
    width: 600px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius:18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: justify;
    transition: 0.3s ease;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.rgb::after {
    content: "";
    background: linear-gradient(45deg,
    #ff0000 0%,
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%,
    #3fdad8 40%,
    #2fc9e2 50%,
    #1c7fee 60%,
    #5f15f2 70%,
    #ba0cf8 80%,
    #fb07d9 90%,
    #ff0000 100% )
    repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 16px;
    filter: blur(8px);
    transform:translateZ(-1px);
    animation: rgb 6s linear infinite;
}

@keyframes rgb {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.js-tilt-glare {
    border-radius: 18px;

}

.card-image {
    grid-area: image;
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text .date {
    color: rgb(255,7,110);
    font-size: 13px;
}

.card-text p {
    color: grey;
    font-weight: 500;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(71,63,147);
    background: linear-gradient(148deg, rgba(71,63,147,0.9304096638655462) 19%, rgba(8,146,235,0.8631827731092436) 85%);
}

.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card-stats .type {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card-stats .value {
    font-size: 22px;

}

.card-stats .border {
    border-left: 1px solid rgb(172,26,87);
    border-right: 1px solid rgb(172,26,87);
}

.card-stats .value sup {
    font-size: 12px;
}


.card-1:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/** End Custom Card **/

.bg-city {
    background-color: rgb(168 253 214);
}

.border-custom {
    border-radius: 1rem;
}

.nav-rounded {
    border-radius: 0 0 15px 15px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}


.bg-img {
    background-image: url("../Images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50rem;
    width: 100%;
}


.bg-img-2 {
    background-image: url("../Images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}



.h-card {
    height: 200px;
}

.card {

}

.hover-card:hover {
    box-shadow: 12px 12px 12px 12px rgba(0,0,0,0.1),
    -10px -10px 20px black;
}

.li-hover:hover {
    background: white;
}


.icon {
    right: 7px;
    top: 5px;
}

.user-icon {
    width: 3.5rem;
    height: 2rem;
}

.error-container {
    text-align: center;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.error-code {
    font-size: 6rem;
    font-weight: bold;
    color: #ff0017;
}
.error-message {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #ec3e47;
}

.search-icon-right {
    right: 10px;
}

.search-icon-left {
    left: 10px;
}

.search-weather-icon {
    right: 1rem;
}

.delete-fav-icon {
    width: 45px;
    height: 30px;
}

.search-button {
    background: rgb(35,131,18);
    background: linear-gradient(145deg, rgba(35,131,18,1) 47%, rgba(25,136,35,1) 55%);
}








