


body {
    background-color: #e5e7eb;
}

html {
    scroll-behavior: smooth;
}


.bg-nav {
    background: rgb(35,132,226);
    background: linear-gradient(81deg, rgba(35,132,226,1) 12%, rgba(71,221,211,1) 100%);
}

.bg-custom {
    background-color: #d7aa72;
}

.bg-custom-2 {
    background: rgb(25,131,227);
    background: linear-gradient(81deg, rgba(25,131,227,1) 51%, rgba(26,145,233,1) 72%);
}

.bg-card {
    background: rgb(22,167,209);
    background: linear-gradient(81deg, rgba(22,167,209,0.37298669467787116) 12%, rgba(71,221,211,1) 95%);
}

.border-custom {
    border-radius: 1rem;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}


.bg-img {
    background-image: url("../Images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;
}

.bg-img-2 {
    background-image: url("../Images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.h-card {
    height: 200px;
}

.card {

}


.icon {
    right: 7px;
    top: 5px;
}








