


body {

}

html {
    scroll-behavior: smooth;
}

.nav-choice:hover {
    background: rgb(22,167,209);
    background: linear-gradient(81deg, rgba(22,167,209,0.37298669467787116) 12%, rgba(71,221,211,1) 95%);
}

.bg-nav {
    background: rgb(35,132,226);
    background: linear-gradient(81deg, rgba(35,132,226,1) 12%, rgba(71,221,211,1) 100%);
}

.bg-custom {
    background-color: #d7aa72;
}

.bg-custom-2 {
    background: rgb(25,131,227);
    background: linear-gradient(81deg, rgba(25,131,227,1) 51%, rgba(26,145,233,1) 72%);
}

.bg-card {
    background: rgb(22,167,209);
    background: linear-gradient(81deg, rgba(22,167,209,0.37298669467787116) 12%, rgba(71,221,211,1) 95%);
}

.bg-city {
    background-color: rgb(168 253 214);
}

.border-custom {
    border-radius: 1rem;
}

.nav-rounded {
    border-radius: 0 0 15px 15px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}


.bg-img {
    background-image: url("../Images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50rem;
    width: 100%;
}


.bg-img-2 {
    background-image: url("../Images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}



.h-card {
    height: 200px;
}

.card {

}

.hover-card:hover {
    box-shadow: 12px 12px 12px 12px rgba(0,0,0,0.1),
    -10px -10px 20px black;
}

.li-hover:hover {
    background: white;
}


.icon {
    right: 7px;
    top: 5px;
}

.user-icon {
    width: 4rem;
    height: 2rem;
}

.error-container {
    text-align: center;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.error-code {
    font-size: 6rem;
    font-weight: bold;
    color: #ff0017;
}
.error-message {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #ec3e47;
}

.search-icon-right {
    right: 10px;
}

.search-icon-left {
    left: 10px;
}

.search-weather-icon {
    right: 1rem;
}

.delete-fav-icon {
    width: 45px;
    height: 30px;
}

.search-button {
    background: rgb(35,131,18);
    background: linear-gradient(145deg, rgba(35,131,18,1) 47%, rgba(25,136,35,1) 55%);
}








